<!-- connectivity, shoot button, angle change dial/slider, manual index, camera view -->

<!DOCTYPE html>
<html>
	<title>
		SERGE User Interface
	</title>
	<head>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/css/control.css" rel="stylesheet" type="text/css">
		<script src="static/js/jquery-3.1.0.min.js"></script>
		<script src="static/js/script.js"></script>
	</head>

	<body>
		<div class="container-fluid">
			<div class="masthead">
				<nav>
					<ul class="nav nav-justified">
						<li>SergeUI</li>
						<li class="control-setting" id="control-manual">MANUAL CONTROL</li>
						<li class="control-setting" id="control-assisted">ASSISTED CONTROL</li>
						<li class="deactivated" id="connection-status">OFFLINE</li>
					</ul>
				</nav>
			</div>
			
			<div class="row control-panel disabled">

				<!-- Left panel -->
				<div class="col-xs-2">

					<!-- Spin up shooter -->
					<div class="row">
						<div class="col-xs-12">
							<br/>
							<button type="button" class="btn" id="btn-spinup">SPIN<br/>UP</button>
							<br/><br/>
						</div>
					</div>
					
					<!-- Raise/lower shooter -->
					<div class="row">
						<div class="col-xs-12">
							<button type="button" class="btn" id="btn-raise">RAISE</button>
							<br/><br/>
							<button type="button" class="btn" id="btn-lower">LOWER</button>
						</div>
					</div>
				</div>

				<!-- Middle panel -->
				<div class="col-xs-8">

					<!-- Gyro/accelerometer readings -->
					<div class="row">
						<div class="important col-xs-3">
								GYRO/ACCEL
						</div>
						<div class="important col-xs-1">
								<p>ROLL</p>
						</div>
						<div class="important-value col-xs-2">
								0.000
						</div>
						<div class="important col-xs-1">
								<p>PITCH</p>
						</div>
						<div class="important-value col-xs-2">
								0.000
						</div>
						<div class="important col-xs-1">
								<p>YAW</p>
						</div>
						<div class="important-value col-xs-2">
								0.000
						</div>
					</div>

					<!-- Webcam stream -->
					<div class="row">
						<div class="well col-xs-12" id="cam-view">
							Webcam unavailable
						</div>
					</div>

					<!-- Other status indicators -->
					<div class="row">
						<div class="important col-xs-4">
							ROBOT UPTIME
						</div>
						<div class="col-xs-4">
							0h 0m 0s  <!-- overlay battery switch notif -->
						</div>
						<div class="important col-xs-3">
							SHIRTS LEFT
						</div>
						<div class="col-xs-1">
							0
						</div>
					</div>
				</div>

				<!-- Right panel -->
				<div class="col-xs-2">
					<br/>
					<button type="button" class="btn" id="btn-fire">FIRE</button>
					<br/><br/>
					<button type="button" class="btn" id="btn-halt">HALT</button>
				</div>
			</div>
		</div>
	</body>
</html>