#.gitignore
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# CAD files
.zip
\~$*
/CAD/*
/CAD Models/*
/Hardware/*
/Superstructure-backup/*
/Superstructure/more CAD - backup/*
/STL/*
/Superstructure-old/*
/ToughBox Nano/*
/Window Motor/*
/more CAD - backup/*
/CAD Drawings/*