$font-stack: Roboto, sans-serif;
$husky: #3A3A3A;
$summersky: #1E8BC3;
$silversand: #BDC3C7;

body {
	font: 100% $font-stack;
	text-align: center;

	overflow-y: hidden;
}

h1 {
	font-size: 100%;
}

ul {
	list-style: none;

	li {
		border-bottom: 1px solid $silversand;
		color: $silversand;
		font-size: 220%;
		padding: 0.2em 1em;
	}
	.control-setting {
		width: 30%;
	}
	.activated {
		border-bottom: 2px solid $summersky;
		color: $summersky;
	}
}